/** ADD YOUR AWESOME CODES HERE **/

.lbox-details {
    font-family: 'Great Vibes', cursive;
    /* font-family: 'Jost', sans-serif; */
}

.navbar-brand img {
    width: 138px;
}

.timer-item div {
    margin: auto;
}

#thankyou {
    color: #881228;
}