/** ADD YOUR AWESOME CODES HERE **/

.lbox-details {
    font-family: 'Great Vibes', cursive;
    /* font-family: 'Jost', sans-serif; */
}

.navbar-brand img {
    width: 138px;
}

.timer-item div {
    margin: auto;
}

#thankyou {
    color: #881228;
}

.rslides_nav {
    position: absolute;
    top: 30%;
    z-index: 9;
    background: white;
    border-radius: 50%;
    width: 38px;
    text-align: center;
    /* transform: translate(0, -278%); */
    font-size: 20px;
    font-weight: 600;
    color: #737373;
}

.rslides_nav.next {
    right: 0;
}

.rslides_nav.prev {
    left: 0;
}

.imoji {
    width: 40px;
}

.fw-bold {
    font-weight: 600;
}

.profile-icons {
    width: 20px;
}

.profile-list li {
    padding-bottom: 4px;
}